/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Global Styles */
* {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Header */
header {
  background: rgba(11, 29, 41, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 1%;
}

nav.hod ul li {
  display: inline;
  padding: 0 15px;
}

/* Buttons */
.loginbutton1,.contact-us-btn {
  transition: all 0.3s ease;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.loginbutton1 /*,.loginbutton */{
  border: 2px solid transparent;
  background: linear-gradient(to right, #06151f, #183a53);
  color: white;
  border-radius: 63% 37% / 0% 100%;
  background-color: #3e59e0;
  color: white;
}
.contact-us-btn{
   border: 2px solid transparent;
  /* border-radius: 63% 37% / 0% 100%; */
}

/* .loginbutton1 {
  
} */

/* .loginbuttonl {
  background-color: #3e59e0;
  color: white;
} */

/* .loginbuttong {
  background: white;
  color: black;
  border: 1px solid gray;
} */

.loginbutton:hover,
.loginbuttonl:hover {
  opacity: 0.8;
}

.loginbuttong:hover {
  background: rgb(219, 216, 216);
}

/* Sticky Navigation Bar */

.stecky {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #333;
}

div.menu{
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  box-shadow: 0 4px 1000px rgba(255, 253, 253, 0.2), 0 1.5px 5px rgba(32, 32, 32, 0.19);
  font-weight: bold;
}

div.navi div {
  display: inline-block;
  /* overflow-x: auto; */
}

div.navi div a {
  color: #0b1d29;
  padding: 5px 10px;
  margin: 0px 5px;
  border-radius: 4%;
}

div.navi div a:hover {
  transition: 0.3s step-start;
  /* border-bottom: 4px solid orange; */
  color:orange;
}

.search {
  border: 1px solid #a6a5a5;
  /* border-radius: 5%; */
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}
/*  CONTENT for header */

.first1 {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
  background: #0b1d29;
  padding: 5% 20px;
}
.picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  width: 100%;
}
.inte {
  display: flex;
  justify-content: center;
}
.hellow {
  margin: 10px 10px;
  font-size: 35px;
  text-shadow: 0 0 0px rgba(255, 255, 255, 0.3),
    0 0 23px rgba(255, 255, 255, 0.3);
}

.c1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  font-size: 2rem;
  height: auto;
  padding: 10px 10px;
}

.animation1 {
  height: 45px;
  overflow: hidden;
  margin-left: 10px;
}

.animation1 > div > div {
  padding: 0.25rem 0.75rem;
  /* padding: 5px 8px; */
  align-items: center;
  height: 55px;
  margin-bottom: 31px;
  /* margin-top: 30px; */
  display: inline-block;
}

.animation1 div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #20a7d8;
}
.second div {
  background-color: #cd921e;
}
.third div {
  background-color: #c10528;
}

@keyframes text-animation {
  0%,
  10%,
  90%,
  100% {
    margin-top: 0;
  }
  20%,
  30% {
    margin-top: -4.62rem;
  }
  40%,
  60% {
    margin-top: -10.24rem;
  }
  70%,
  80% {
    margin-top: -4.62rem;
  }
}

/* Main Content */
.main-content {
  flex-grow: 1;
  height: 500px;
}
/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  background: #0b1d29;
  color: white;
  text-align: center;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* random qouats */


.artical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-bottom: 8%;
  margin-top: -4%;
  padding: 20px;
  /* border: 2px solid black; */
}
.midpoint{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: row; */
  gap: 100px;
  width: auto;
}

.articalbox1 {
  padding: 35px 10px;
  color: rgb(0, 0, 0);
  height: 250px;
  width: 520px;
  border-radius: 25px 75px;
  overflow: hidden;
  background: rgb(245, 219, 190);
}
.articalbox2 {
  padding: 35px 10px;
  text-align: left;
  height: 250px;
  width: 520px;
  border-radius: 25px 75px;
  overflow: hidden;
  background: rgb(204, 228, 251);
  color: rgb(0, 0, 0);
}
.texta {
  text-align: right;
  margin-right: 80px;
  margin-top: 50px;
}
.texta2 {
  text-align: left;
  margin-left: 20px;
}


